.home-section {
  height: 100vh;
}

.about-section {
  min-height: 100vh;
  background-color: black;
  color: black;
  display: block;
  border: none;
}

.projects-section {
  text-align: center;
  border: none;
  background-color: #0d0d0d;
}

.skills-section {
  text-align: center;
  border: none;
  background-color: #111111;
}
