@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');
.home-section {
  height: 100vh;
}
.navbar-list {
  height: 4vh;
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
}

.navbar-link {
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px; 
  margin-right: 10px; 
  padding-right: 10px;
}

.navbar-link:hover {
  color: aqua;
}

#tsparticles {
  height: 96vh;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.about-section {
  height: 30vh;
  margin-top: 0;
  background-color: gray;
  color: black;
  display: flex;
  align-items: center;
}

.profile-image {
  width: 150px; /* Adjust the width and height as per your requirements */
  height: 150px;
  border-radius: 50%; /* Applies a circular shape to the image */
  object-fit: cover; /* Maintains the aspect ratio of the image */
  margin-right: 20px; /* Adds some spacing between the image and text */
}

.title {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 50px;
  text-align: center;
}

.position {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 30px;
  text-align: center;
}