@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap");
.home-section {
  height: 100vh;
}
.navbar-list {
  height: 4vh;
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  font-family: "Montserrat", sans-serif;
}

.navbar-link {
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
}

.navbar-link:hover {
  color: aqua;
}

#tsparticles {
  height: 96vh;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.title {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 50px;
  text-align: center;
}

.position {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 30px;
  text-align: center;
}

.about-section {
  height: 50vh;
  margin-top: 0;
  background-color: white;
  color: black;
  display: flex;
  border: 2px solid #e0e0e0;
}

.about {
  display: flex;
  justify-content: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.hello-text {
  font-size: 50px;
  font-weight: bold;
  color: black;
  margin-top: 10px; /* Adjust the spacing as needed */
  font-family: "Montserrat", sans-serif;
}

.additional-info {
  display: flex;
  align-items: center;
  margin-left: 300px;
  margin-right: 100px;
  color: light gray;
  font-size: 18px;
  margin-top: -100px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.experience {
  text-align: center;
  background-color: #e0e0e0;
  border: 2px solid #e0e0e0;
  height: 35vh;
}

.experience-heading {
  font-size: 30px;
  font-weight: bold;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.experience-image {
  width: 400px;
  height: 150px;
  margin: 0 10px; /* Adjust the spacing as needed */
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.education-section {
  text-align: center;
  border: 2px solid white;
  background-color: white;
}

.section-heading {
  font-size: 30px;
  font-weight: bold;
  color: black;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
}

.education-details {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.institution {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.institution-date-container {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 16px;
  color: #888;
  text-align: right;
}

.degree {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
}

.date {
  font-size: 16px;
  color: #888;
}

.relevant-coursework {
  text-align: left;
}

.coursework-heading {
  font-size: 18px;
  font-weight: bold;
}

.coursework-list {
  list-style-type: disc;
  margin-left: 10px;
}

.coursework-list li {
  margin-bottom: 5px;
}
